[Unit]
Description = Deluge daemon
After network.target = auditd.service

[Service]
Type = forking
ExecStart = /usr/local/bin/excbot.sh start
ExecStop = /usr/local/bin/excbot.sh stop
ExecReload = /usr/local/bin/excbot.sh restart

[Install]
WantedBy = multi-user.target